.App {
  text-align: center;
  display: flex;
  flex-flow: column;
}

html, body, #root, #root>div {
  height: 100%
}

.container-body {
  flex-grow : 1;
}

.formStyle {
  padding: 20px 60px;
  overflow-y: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

